body {
    background: #DFDFDF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#container{
    width: 550px;
    min-height: 550px;
    max-height: fit-content;
    background-color: #374962;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    min-height: 90px;
    max-height: fit-content;
    background-color: #1F2937;
    column-gap: 10px;
}
#get-color-schemes{
    width: 123px;
    height: 42px;
    font-size: 12px;
    background: #3D4B60;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: white
}
#color-input{
    width: 61px;
    height: 43px;
    border: 0.5px solid #313131;
    padding: 0;
    margin: 0;
}
#color-mode{
    margin: 0;
    display: flex;
    align-items: center;
    padding: 9px;
    width: 290px;
    height: 42px;
    background: #1F293A;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: white;
    font-size: 16px;
}
#schemes{
    display: flex;
}
#Color{
    width: 110px;
    height: 414px;
}
footer{
    height: 70px;
    background-color: #486184;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
    gap: 10px;
    color: white;
    padding: 10px;
}
@media screen and (max-width: 400px){
    ::-webkit-scrollbar{
        display: none;
    }
    #container{
        width: 100%;
        height: 100vw;
    }
    nav{
        width: 100%;
    }
    #get-color-schemes{
        width: 40%;
        margin-right: 10px;
    }
    #color-input{
        width: 20%;
        margin-left: 10px;
    }
    #color-mode{
        width: 100%;
    }
    #Color{
        width: 20%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
